<div class="container">
  <div class="wrapper">
    <form class="form-signin">
      <h2 class="form-signin-heading">Welcome to Dunder-Miflin</h2>
      <p>Welcome to the Dunder Miflin Internal Network. Please enter your username to view your posts and comments.</p>
      <div *ngIf='errorMsg!=""'>
        <p class="form-errors">{{errorMsg}}</p>
      </div>
      <input type="text" class="form-control" name="email" placeholder="Email Address" [(ngModel)]="email" required="true" autofocus=""/>
      <div class="padding"></div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="verifyEmail()">Login</button>
    </form>
  </div>
</div>
